/* Based on https://codyhouse.co/gem/css-multi-level-accordion-menu */

li.category input[type=checkbox] {
  /* hide native checkbox */
  position: absolute;
  opacity: 0;
}
li.category label, li.category a {
  position: relative;
  display: block;
  -moz-user-select: none;
  user-select: none;
}
li.category ul {
  /*hide all by default*/
  display: none;
}
li.category > input[type=checkbox]:checked + label + ul,
li.category > input[type=checkbox]:checked + label:nth-of-type(n) + ul {
  /* show children when item is checked */
  display: block;
}

/* Styles */
li.category {
  background-color: #ccc;
}
li.category > label {
  background-color: #999;
}
li.category > label:hover {
  background-color: #888;
}
li.category > label > .settings {
  /* info icon in category header */
  float: right;
  font-size: 1.25rem;
  margin: 0;
  line-height: 1rem;
}
li.category > label, ul.feeds > li {
  padding: 0.35rem;
}
ul.feeds > li:hover {
  background-color: #bbb;
}
ul.feeds > li:hover::before, li.active::before {
  content: "\0025B8";
  color: #333;
  float: left;
}
ul.feeds > li {
  padding: 0.5rem;
  cursor: pointer;
  line-height: 0.8rem;
}
ul.feeds > li:last-of-type {
  margin-bottom: 0;
}
ul.feeds > li.active {
  background-color: #aaa;
}
ul.feeds a.feed {
  margin-left: 0.75rem;
  color: #111;
  font-size: 0.9rem;
}
