/* basics */
body {
  font-family: sans-serif;
  margin: 0;
}
h2 {
  font-size: 1em;
  padding: 0.5em;
  margin: 0;
  user-select: none;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
ul {
  margin: 0;
  padding: 0;
}

/* top bar */
header {
  flex: 1 100%;
  padding: 0.5rem;
  display: block;
  overflow: auto;
  background-color: #bbb;
}
header > * {
  vertical-align: bottom;
}
header img {
  width: 1.5rem;
  height: 1.5rem;
}
header h1 {
  margin: 0;
  display: inline-block;
  line-height: 1.5rem;
}

/* UI Sections */
/* based on https://jsfiddle.net/Lyrjx4zw/5/ */
#container {
  display: flex;
}
#sidebar {
  flex: 0 1 25%;
  min-height: 100%;
  min-width: 25%;
  order: 1;
  flex-direction: column;
  border-right: 2px solid black;
  background-color: #bbb;
}
#tools {
  background-color: red;
  overflow: hidden;
}
#categories {
}
#main {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
  order: 2;
}
#feeds {
  height: 30%;
  overflow-y: scroll;
  order: 1;
  border-bottom: 1px solid black;
}
#feeds > ul {
  cursor: pointer;
}
#feeds > ul > li {
  font-size: 0.9rem;
  padding: 0.125rem 0.25rem;
}
#feeds li:hover {
  background-color: #ddd;
}
#feeds li > a {
  margin-left: 1rem;
}
#story {
  flex: 0 0 auto;
  order: 2;
}

/* Settings and stuff pane */
.field {
  padding-bottom: 1rem;
  border-bottom: 1px solid #666;
  padding-top: 0.5rem;
}
.field:first-of-type {
  margin-top: 0;
  padding-top: 0;
  border-top: 0;
}
.field:last-of-type {
  margin-bottom: 0;
  padding-bottom: 0.25rem;
  border-bottom: 0;
}
.field p {
  margin: 0 0 0.5rem 0;
  padding: 0;
  font-weight: 700;
  font-size: 1em;
  user-select: none;
}
#categories > h2 {
  pointer: hand;
  background: rgb(102,102,102);
  background: linear-gradient(0deg, rgba(153,153,153,1) 0%, rgba(221,221,221,1) 100%);
}
#tools label {
  background: rgb(102,102,102);
  background: linear-gradient(0deg, rgba(153,153,153,1) 0%, rgba(221,221,221,1) 100%);
  position: relative;
  display: block;
  width: 100%;
  /*display: inline-block;*/
  box-sizing: border-box;
  font-size: 1em;
  font-weight: 700;
  padding: 0.5rem;
  margin: 0;
  user-select: none;
}
/*#tools label::before {
  content: "▶";
}*/
#tools > div {
  padding: 0.5rem;
  margin: 0;
  background-color: #999;
  /* close by default */
  display: none;

}
#tools input[type=checkbox]:checked + label + div {
/*#tools > input[type=checkbox]:checked + label:nth-of-type(n) + div {*/
  /* show children when item is checked */
  display: block;
}
/*#tools input[type=checkbox]:checked::before + label {
  content: "▼";
}
*/
#tools input[type=checkbox] {
  position: absolute;
  opacity: 0;
}
.submit {
  padding: 0.25rem 0.5rem;
  background-color: #ddd;
  display: inline-block;
  text-decoration: none;
  font-weight: 700;
  color: black;
}
.tools-close {
  line-height: 1em;
  float: right;
  color: black;
}

/* Debug pane */
#debug {
  clear: both;
  padding: 0.5rem;
  border-top: 3px solid black;
}
#debug p {
  margin: 0 0 .5rem 0;
}
.warn {
  color: red;
}
.notice {
  color: green;
}
img.spinner {
  display: none;
  margin: auto;
}
img.spinner.loading {
  display: block;
}
